@import './base.css';

#app {
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: var(--theme-blue);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(176, 100%, 37%, 0.2);
  }
}
